data/*
software/HaGRID/hagrid/fist
software/HaGRID/hagrid/fist_label
software/yolov7/images
software/yolov7/data/train/*
software/yolov7/data/val/*
software/android/yolov5_tflite/TFDS/*
software/android/yolov5_tflite/coco_models
software/android/yolov7_pytorch/ObjectDetection/app/build/intermediates/*
software/android/yolov7_pytorch/ObjectDetection/app/build/outputs/*
software/yolov5/yolov5/runs/*
software/yolov5/yolov5x.pt
*.jpg
*.jpeg
*.png
*.tflite
*.pt
*.ptl
*.torchscript.ptl
*.pdf
*.pb
*.apk
!deliverables/report/images/results_pareto.png
!deliverables/report/images/results_table.png

